@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Merienda:wght@300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'Comic Neue', cursive, 'Noto Sans Thai', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.swipe {
  -webkit-overflow-scrolling: touch;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.dark ::-webkit-scrollbar-track {
  /* background: transparent; */
  background: #232323;
  /* box-shadow: inset 0 0 5px grey; */
  /* border-radius: 40px; */
}
::-webkit-scrollbar-track {
  /* background: transparent; */
  background: #ababab;
  /* box-shadow: inset 0 0 5px grey; */
  /* border-radius: 40px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #40626D;
  border-radius: 40px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #40526D;
  border-radius: 40px;
}

/* Custom CSS */
.rotate-y-180 {
  transform: rotateY(180deg);
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;